@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10rem auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(133, 128, 128, 0.4);
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

.list-add {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.addtasks {
  font-style: italic;
  font-size: 18px;
  outline: none;
  width: 90%;
  border: none;
}

.clear-button {
  padding: 10px;
  background-color: #ccc;
  color: #000;
}

.clear-button:hover {
  cursor: pointer;
  background-color: rgb(5, 184, 5);
  color: #fff;
}

.todo-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  border-bottom: 1px solid #ccc;
}

.list-item {
  list-style-type: none;
  padding: 12px;
  width: auto;
}

.btn {
  background-color: transparent;
  border: none;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

.trash {
  cursor: pointer;
  color: red;
}

input {
  border: none;
}
